.lwss_selectable.lws_woovirtualwallet_wallet_widget{}
.lwss_selectable.lwss_modify.lws_woovirtualwallet_wallet_widget_header{
	border-top-width:0px;border-right-width:0px;border-bottom-width:1px;border-left-width:0px;
	border-style:solid;border-color:#eeeeee;
	padding-top:5px;padding-right:0px;padding-bottom:5px;padding-left:0px;
}
.lwss_selectable.lws_woovirtualwallet_wallet_widget_balance{
	text-align:right;font-weight:bold;
	padding-top:5px;padding-right:0px;padding-bottom:5px;padding-left:0px;
}
